.main-button-brand {
     @include button-base(20rem, 4.6rem, 1.6rem, $brand-color, #fff);
}
.main-button-white {
   @include button-base(20rem, 4.6rem, 1.6rem, $white, $heading-color, $grey);
}
.field-label{
     @include text-style($font-heading, 500, 1.4rem, 2, $heading-color, uppercase); 
     letter-spacing: -2%;
     margin-bottom: 1rem;
}
.field-input{
    @include text-style($font-body, 400, 1.6rem, 1.6, $text-color);
    height: 5rem;
    padding-left: 1.2rem;
    letter-spacing: -2%;
    border: 1px solid $grey;
    border-radius: 0.8rem;
}