.hero {
  padding: 8rem 0;

  &-heading {
    font-size: 7.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
  &-buttons-wrapper{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  &-button{
    font-size: 1.5rem;
    width: 24.6rem;
    height: 5.6rem;
  }
}

