.hero {
  padding: 8rem 0;

  &-heading {
     @include text-style($font-heading, 500, 7.5rem, 1.2, $heading-color, uppercase);
  }

  &-text {
     @include text-style($font-body, 400, 1.8rem, 1.6, $text-color);
    margin-bottom: 2rem;
  }
  &-buttons-wrapper{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
  }
  .main-button-brand{
    @include button-base(24.6rem, 5.6rem, 1.5rem, $brand-color, #fff);
  }
  .main-button-white {
   @include button-base(17.5rem, 5.6rem, 1.5rem, $white, $heading-color, $grey);
  }
  
}

