.real-estates {
    padding-bottom: 8rem;

    &-heading {
        @include text-style($font-heading, 500, 4.2rem, 1.2, $text-color);
        margin-bottom: 8rem;
    }

    .items {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 3.2rem;
        margin-bottom: 8rem;

        .item {
            -webkit-box-flex: 1;
            flex: 1 1 40.5rem;
            max-width: 40.5rem;
            box-sizing: border-box;
            padding: 2.4rem;
            border: 1px solid $grey;
            border-radius: 1.2rem;
            min-height: 50.515rem;

            &-heading {
                @include text-style($font-heading, 500, 1.8rem, 1.6, $text-color);
                margin: 4rem 0 5.2rem 0;
            }

            &-button {
                @include button-base(24.5rem, 5.6rem, 1.5rem, $white, $heading-color, $grey);
            }
        }
    }
    .load-more{
        @include button-base(26rem, 5.6rem, 1.5rem, $brand-color, #fff);
        margin: 0 auto;
    }
}