.main-heading{
    font-family: 'Clash Display Medium', sans-serif;
    color: $heading-color;
    text-transform: uppercase;
}
.main-text{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    color: $text-color;
}