# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/*.map
dist/*.css
dist/*.min.css

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# WordPress (jeśli użyjesz kiedyś motywu jako WP)
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
